.tn-course{
	.col-md-3{
		padding: 0 0;
		border-left: 1px solid $bd;
	}
	.tn-course-item{
		text-align: center;
		padding-top: 15px;
		.item-img{
			min-height: 60px;
		}
		.toeic{
			padding-top: 16px;
		}
		.item-title{
			padding: 15px 0 20px 0;
			h5{
				color: $c1;
			}
		}

	}
	.tn-c-first{
		background: $c1;
		padding: 25px 5px;
    	color: #fff;
    	p{
    		font-weight: lighter;
    	}
    	h3{
    		font-size: 22px;
    	}
	}
}