.tn-footer{
	background: #f0f0f0;
	padding-top: 50px;
	margin-top: 30px;
	.f-des{
		padding-top: 20px;
	}
	.f-title{
		color: $c2;
	}
	.fshare{
		list-style-type: none;
		display: block;
		margin: 0;
		padding-left: 0;
		li{
			padding: 10px 0;
			a{
				color: $c2;
			}
		}
	}
}
.tn-c{
	background: $c2;
	text-align: center;
	color: #fff;
	padding: 15px 15px;
}