$c1: #d4101a;
$c2: #2e3373;
$bg: #f8f8f8;
$nav-c: #828ea4;
$a: #03f;
$h1: #160f0d;
$bd: #ddd;
$cl3: #FFC601;
$cls1: #00163e;
$cls2: #efefef;
$cls3: #FFC601;
$bd2: #8e8e8e;
$bg2: #eaeaea;
$tabcl: #a5a5a5;