@import 'variables'; // colors, fonts etc...
//@import '../bower_components/components-font-awesome/scss/font-awesome';

@import 'mixins'; // custom mixins
.lkg-top-title{
	color: $c1;
	padding-bottom: 10px;
}
.lkg-contain{
	background: #f8f8f8;
    padding: 10px;
	.block_filter{
		table{
			td{
				padding: 5px;
				select{
					    padding: 3px;
					    border: 1px solid #CCC;
					    width: 200px;
					    height: 36px;
				}
			}
			td.cs{
				padding-left: 30px;
			}
		}
	}
}
.block-lichhoc{
	margin-top: 20px;
	.block-lichhoc-title{
		color: #fff;
		background: $c2;
		padding: 10px 0 10px 15px;
	}
	.block-khoahoc{
		.thoigianhoc{
			.thu{
				    padding: 5px 0;
    				border-bottom: 1px solid #EEE;
			}
			.buoi{
				padding: 5px 0;
			}
		}
		.title{
			    padding-left: 20px;
			    padding-top: 10px;
			    font-size: 16px;
			    .khoahoc{
			    	font-size: 14px;
			    }
			}
		tbody{
			tr{
				td{
					padding: 0 0 0 8px;
				}
			}
		}
	}
}
